*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title {
   color: rgb(5, 34, 119);
    font-size: 30px;
    text-align: center;
    padding: 80px;
    
}

.services {
    background: #fffdfd;
    width: 100%;
   
}

.services-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.individual-product {
    width: 28%;
    text-align: center;


}

.individual-product img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px 5px 5px 3px rgb(209, 209, 209);
}

.individual-product h3 {
    margin: 10px;
    color: rgb(5, 34, 119);
}

.individual-product p {
    font-weight: 600;


}