/*---HOME---*/

.contenedor-sobre-nosotros {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

}

.imagen-about-us {
    margin: 5rem;
    min-width: 20%;
}

.sobre-nosotros .contenido-textos {
    margin: 8rem;
    width: 48%;
    color: rgb(5, 34, 119);
}

.contenido-textos h3 span .icon-code {
    background: rgb(14, 100, 248);
    color: #fff;
    border-radius: 20%;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
  
  
  }


.contenido-textos p {
    padding: 0px 0px 20px 15px;
    font-weight: 400;
    text-align: justify;
    color: rgb(0, 0, 0);

}

/*---END-HOME---*/

/*MEDIAQUERIES*/

@media screen and (max-width:900px) {

    section {
      
      height: 100%;
      overflow: hidden;
  
    }
    .contenedor-sobre-nosotros {
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
    }
  
    .sobre-nosotros .contenido-textos {
      width: 90%;
  
    }
  
    .imagen-about-us {
      width: 90%;
    }

}

@media screen and (max-width:400px) {

    .sobre-nosotros {
  
      padding-top: 5vh;
    }
  
  }