* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  background: linear-gradient(45deg, rgb(5, 34, 119) 31%, rgb(14, 100, 248) 89%);

}

.App {
  text-align: center;
  min-height: calc(100vh);
}


/*LOGO*/

.image-logo {
  padding: 0 10px;

}

#inverse-rotation {
  animation-name: inverse-rotation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes inverse-rotation {
  from {
    transform: rotateZ(0deg)
  }

  to {
    transform: rotateZ(-360deg)
  }
}

/*NAV-BAR TOGGLE*/

.navbar-height{
  height: 100px;
}
.toggle {
  border: none !important;
}

.toggle:focus {
  box-shadow: none !important;
}


/*NAV-LINKS*/

.text-light{
  font-size: 20px !important;
  display: flex;
}

/* burger menu*/

@media (max-width: 768px) {
  .hide-on-small {
    display: none;
  }
 }
body{
  background-image: url(/src/images/Sprinkle.svg);
  background-size: cover;
}

/*SECTION*/
section {
  height: 100vh;
  
}


/*---HOME---*/

.contenedor-sobre-nosotros {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; 
  margin-top: 10rem;
}

.imagen-about-us {
  margin: 5rem;
  min-width: 1%;
  width: 100%;
}

.sobre-nosotros .contenido-textos {
  margin: 8rem;
  width: 100%;
}

.contenido-textos>h3 {
  color: rgb(5, 34, 119);
  font-weight: bold;
}

.contenido-textos h3 span .icon-code {
  background: rgb(14, 100, 248);
  color: #fff;
  border-radius: 20%;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 5px;


}

.contenido-textos p {
  padding: 0px 0px 20px 15px;
  font-weight: 500;
  text-align: justify;
  color: rgb(0, 0, 0);
  font-size: 20px;

}

/*---END-HOME---*/




/*FOOTER*/


.bg-footer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(5, 34, 119) 31%, rgb(14, 100, 248) 89%);
  width: 100%;
  height: auto;
 
  
}

/*PAGE SERVICES*/
/*services*/

.container-group {
  height: 100%;
  margin-top: 8rem;

}

.title-services {
  color: rgb(5, 34, 119);
  font-size: 30px;
  text-align: center;
  
  

}
.group-card{
  margin-top: 4rem;
}


.description{
  font-weight: 500 !important;
  
}

.card-padding {
  padding: 20px !important;
}
.card-shadow {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)  !important;
}
.card-margin{
  margin: 20px !important;
}
.card-border {
  border: 1px solid;
  border-color: rgb(168, 168, 168) !important;
}


/*END PAGE SERVICES*/

/*CONTACT*/

.contact-section {
  height: 100%;
  margin-top: 8rem;
}


/*CONTACT- PAGE*/

/*form*/

form {
  position: relative;
  z-index: 10;
}

.contact-title {
  color: rgb(5, 34, 119);
  font-size: 30px;
  text-align: center;


}

.text-light-foo{
  color: #fff !important;
}

/*END-CONTACT- PAGE*/



/*ABOUT US*/
.container{
 margin-top: 8rem;
 
}

.title {
  color: rgb(5, 34, 119);
  font-size: 30px;
  text-align: center;
  margin-top: 95px;
  
}

.aboutus {
  background-image: url(/src/images/Sprinkle.svg);
  background-size: cover;
 
}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
 margin-top: 8rem;

}

.individual-product {
  width: 28%;
  text-align: center;

}

.individual-product img {
  width: 90%;
  border-radius: 20px;
  box-shadow: 1px 5px 5px 3px rgb(209, 209, 209);
  background-color: white;
}

.individual-product h3 {
  margin: 10px;
  color: rgb(0, 0, 0);
  font-weight: 300;
}


/*END- ABOUT US*/

.color-title{
  color: blue;
}

/* MEDIAQUERIES*/


@media screen and (max-width:1300px) {

  section {

    height: 100%;
    overflow: hidden;

  }

  .contenedor-sobre-nosotros {
      
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  .sobre-nosotros .contenido-textos {
    width: 90%;

  }

  .imagen-about-us {
    width: 90%;

  }

  /*form*/
  .container-form {
    margin: 5%;

  }


  .product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-top: 6rem;
  
  }
  .bg-footer{
    height: 100%;
    margin-bottom: 0;
  }
}



@media screen and (max-width:575px) {

  section {

    height: 100%;
    overflow: hidden;

  }


  /*services*/
  .container-group {
    height: 100%;

  }

  /*nosotros*/
  .individual-product {
    text-align: center;
  
    margin-bottom: 20%;

  }
  .bg-footer {
    height: auto; 
    margin-bottom: 0;
  }
}

/*MEDIAQUERIES ABOUT US*/

@media screen and (max-width:1300px) {

  .product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .individual-product {
    text-align: center;
    
    min-width: 80%;

  }

  .individual-product img {
    width: 90%;
    border-radius: 20px;
    box-shadow: 1px 5px 5px 3px rgb(209, 209, 209);

  }
  /*contacto*/
  .container{
    margin-top: 4rem;
   }
   /*nosotros*/
   .product-container {
    margin-top: 1rem;
}
.individual-product {
 
  margin: 2rem;
}
}

/* END ABOUT US*/
@media screen and (max-width:400px) {


  .sobre-nosotros {

    padding-top: 5vh;
  }
  .bg-footer{
  margin-bottom: 0;
}
}

@media screen and (max-width:345px) {
  .form-control{
    width: 200px !important;
  }
  
  .toggle{
   width: 10px;
   margin-right: 32px;
  }
}

@media screen and (max-width:281px) {
  .form-control{
    width: 150px !important;
  }
  
  .toggle{
   width: 10px;
   margin-right: 32px;
  }
}


@media screen and (max-width:245px) {
  .toggle{
    display: none;
   }
}