* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  background: linear-gradient(45deg, rgb(5, 34, 119) 31%, rgb(14, 100, 248) 89%);

}

.App {
  text-align: center;

}


/*LOGO*/

.image-logo {
  padding: 0 10px;

}

#inverse-rotation {
  animation-name: inverse-rotation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes inverse-rotation {
  from {
    transform: rotateZ(0deg)
  }

  to {
    transform: rotateZ(-360deg)
  }
}

/*NAV-BAR TOGGLE*/
.toggle {
  border: none !important;
}

.toggle:focus {
  box-shadow: none !important;
}

/*NAV-LINKS*/


/*SECTION*/
section {


  height: 100vh;

  background-image: url(/src/images/Sprinkle.svg);
  background-size: cover;
}


/*---HOME---*/

.contenedor-sobre-nosotros {

  display: flex;
  justify-content: space-evenly;

}

.imagen-about-us {
  margin: 5rem;
  min-width: 1%;
}

.sobre-nosotros .contenido-textos {
  margin: 8rem;
  width: 100%;
}

.contenido-textos>h3 {
  color: rgb(5, 34, 119);
}

.contenido-textos h3 span .icon-code {
  background: rgb(14, 100, 248);
  color: #fff;
  border-radius: 20%;
  display: inline-block;
  text-align: center;
  width: 20px;
  height: 20px;
  padding: 2px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
  margin-right: 5px;


}

.contenido-textos p {
  padding: 0px 0px 20px 15px;
  font-weight: 400;
  text-align: justify;
  color: rgb(0, 0, 0);
  font-size: 16px;

}

/*---END-HOME---*/


/*CONTACT*/

.contact-section {

  height: 100%;

}

/*END-CONTACT*/


/*FOOTER*/


.bg-footer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(45deg, rgb(5, 34, 119) 31%, rgb(14, 100, 248) 89%);
  width: 100%;

}

/*PAGE SERVICES*/
/*services*/

.container-group {
  height: 100vh;
  margin-top: 6rem;

}

.title-services {
  color: rgb(5, 34, 119);
  font-size: 30px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;

}

/*END PAGE SERVICES*/

/*CONTACT- PAGE*/

/*form*/


.container-form {
  margin: 2%;

}

.contact-title {
  color: rgb(5, 34, 119);
  font-size: 30px;
  text-align: center;
  margin-top: 95px;

}

/*END-CONTACT- PAGE*/



/*ABOUT US*/

.title {
  color: rgb(5, 34, 119);
  font-size: 30px;
  text-align: center;
  margin-top: 95px;
  padding-bottom: 80px;
}

.aboutus {
  background-image: url(/src/images/Sprinkle.svg);
  background-size: cover;
  padding-bottom: 100px;


}

.product-container {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.individual-product {
  width: 28%;
  text-align: center;

}

.individual-product img {
  width: 90%;
  border-radius: 20px;
  box-shadow: 1px 5px 5px 3px rgb(209, 209, 209);
  background-color: white;
}

.individual-product h3 {
  margin: 10px;
  color: rgb(0, 0, 0);
  font-weight: 300;
}


/*END- ABOUT US*/

/* MEDIAQUERIES*/


@media screen and (max-width:900px) {

  section {

    height: 100%;
    overflow: hidden;

  }

  .contenedor-sobre-nosotros {
      
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  .sobre-nosotros .contenido-textos {
    width: 90%;

  }

  .imagen-about-us {
    width: 90%;

  }

  /*form*/
  .container-form {
    margin: 5%;

  }

}

@media screen and (min-width:769px) and (max-width:900px) {
  .aboutus {
    height: 100%;
  }

}

@media screen and (max-width:575px) {

  section {

    height: 100%;
    overflow: hidden;

  }


  /*services*/
  .container-group {
    height: 100%;

  }
}

/*MEDIAQUERIES ABOUT US*/

@media screen and (max-width:768px) {

  .product-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .individual-product {
    text-align: center;
    padding: 20px;
    min-width: 80%;

  }

  .individual-product img {
    width: 90%;
    border-radius: 20px;
    box-shadow: 1px 5px 5px 3px rgb(209, 209, 209);

  }
}


/* END ABOUT US*/
@media screen and (max-width:400px) {


  .sobre-nosotros {

    padding-top: 5vh;
  }

}


@media screen and (max-width:244px) {

  .toggle {
    display: none;
  }

}
