* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar {
  background: linear-gradient(45deg, rgb(5, 34, 119) 31%, rgb(14, 100, 248) 89%);

}

.App {
  text-align: center;
}


/*LOGO*/

.image-logo {
  padding: 0 10px;

}

/*NAV-BAR TOGGLE*/
.toggle {
  border: none !important;
}

.toggle:focus {
  box-shadow: none !important;
}



@media screen and (max-width:575px) {

  section {
    
    height: 100%;
    overflow: hidden;

  }

  /*services*/
  .container-group {
    height: 100%;

  }
}



@media screen and (max-width:244px) {

  .toggle {
    display: none;
  }
}

