

/* Slider start */
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-200px * 10));
    transform: translateX(calc(-200px * 10));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(calc(-200px * 10));
    transform: translateX(calc(-200px * 10));
  }
}

.slider-container {
  padding: 20px 0 85px;
  height: 200px;
  position: relative;
  margin-bottom: 20px;
  background: #ffff;
}

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 100%;
  border-color: rgb(197, 196, 196);
  border-width: 1px;
  border-style: dotted solid;
}

.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  /* background: linear-gradient(to right, #61d095 0%, rgba(97, 208, 149, 0) 100%); */
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 31);
}

.slider .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 250px;
}

/* Slider end */
.slide>a {
  text-decoration: none;
}

.h4-container {
  display: flex;
  justify-content: center;
}

.logo-slider-title {
  width: 400px;
  font-size: 22px;
  margin-left: 25px;
  color: rgb(141, 139, 139);
}

.corporation1 {
  color: #FF4E02;
}

.corporation2 {
  color: rgb(8, 0, 83);
}

.corporation3 {
  color: #0c0c0c;
}

.corporation4 {
  color: #5e0127;
}

.corporation5 {
  color: #4e8e07;
}

/*END-SLIDER- PAGE*/

@media screen and (min-width:1300px) {
  .slider-container {
    /* padding: 40px 0 85px; */
    height: 200px;
}
}



@media screen and (max-width: 600px) {
  .slider-container {
    height: auto; 
    margin-bottom: 30px;
  }
  .bg-footer {
    height: auto; 
  }
}